@{
    ViewBag.Title = "Правила";
}

<hgroup class="title">
    <h1>Правила текущего соревнования</h1>
</hgroup>

Тут будут описаны правила подробно, с картинками и всем таким.

<div>Результаты всех игр можно найти @Html.ActionLink("тут.", "Results")</div>