@{
    ViewBag.Title = "Rules";
}

<hgroup class="title">
    <h1>Rules of current competition.</h1>
</hgroup>

Feel free to use this place to explain rules or give other information with markdown or something else.

<div>You can see results of played games @Html.ActionLink("here", "Results")</div>