@model UnityMVC.Models.LocalPasswordModel

<h3>Ваш CvarcTag</h3>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @ViewBag.CvarcTag
    <br/>
    @Html.ActionLink("Создать новый", "RecreateCvarcTag")
}
