@model ICollection<AuthenticationClientData>

@if (Model.Count == 0)
{
    <div class="message-info">
        <p>Возможно, когда-нибудь здесь появятся внешние способы аутентификации. <a href="http://go.microsoft.com/fwlink/?LinkId=252166">Тут можно почитать.</a>
        детали про это.</p>
    </div>
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
    @Html.AntiForgeryToken()
    <fieldset id="socialLoginList">
        <legend>Войти используя сторонний сервис</legend>
        <p>
        @foreach (AuthenticationClientData p in Model)
        {
            <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Войти используя ваш @p.DisplayName аккаунт">@p.DisplayName</button>
        }
        </p>
    </fieldset>
    }
}
