@{
    ViewBag.Title = "Forgot password";
}

<h2>Восстановление пароля</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Отправить письмо</legend>
        <ol>
            <li>
                Ваш Email:
                @Html.TextBox("email")
            </li>
        </ol>
        <input type="submit" value="Отправить"/>
    </fieldset>
}
@ViewBag.Message
<p>@Html.ActionLink("Я получил токен, что дальше?", "ResetPassword")</p>