@{
    ViewBag.Title = "FAQ";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <h3>Как мне проверить, что мой код вообще работает? Я не хочу сразу стучаться в сеть!</h3>
    Все что вам нужно -- запустить юнити-клиент(просто запустить, пусть висит в главном меню, где картинка с роботом)
    и подключиться к ней так же как и к серверу, только по адресу 127.0.0.1:14000. В окне юнити вы увидите, как поведет себя
    ваш клиент. CvarcTag для этого заполнять не обязательно.
    <h3>Что такое личный кабинет? Как туда попасть?</h3>
    Личный кабинет -- это место, где вы можете узнать свой CvarcTag, необходимый для игр, а так же посмотреть
    список прошедших игр с вашим участием и скачать логи. Еще вы можете загрузить там ваше итоговое решение.
    <h3>Что такое такое CvarcTag? Зачем он нужен?</h3>
    CvarcTag -- это ваш уникальный идентификатор, по которому сервер Unity понимает, что вы -- это вы.
    Вам необходимо скопировать его в свой клиент, прежде чем запускать его.
    Никому не сообщайте свой CvarcTag, иначе другие люди смогу играть под вашим именем!
    <h3>Почему я не могу загрузить свое решение? Что за дурацкое ограничение в 3.5 мегабайта?</h3>
    3.5 мегабайта ДОСТАТОЧНО любому человеку.
    На самом деле, нужно просто удалить все бинарники и пакеты nu-get.
    Очистите эти папки: bin, obj, packages. Так же если вы получили клиента с помощью clone в гите, удалите скрытую папку .git
    <h3>Что за файлы логов *.log? Чем их открывать?</h3>
    Это файлы, по которым можно точно повторить действия, которые происходили в игре. Что бы это сделать, вам понадобится юнити-клиент.
    Скачать его можно там же, где и обычный клиент.
    Запускаете, кладете лог в папку GameLogs, вводите в поле текста имя файла, дваждый кликаете по кнопке Log play.
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Что-нибудь ОСОБЕННОЕ.
    </p>
    <ul>
        <li>@Html.ActionLink("На главную", "Index", "Home")</li>
        <li>@Html.ActionLink("Правила", "Index", "Rules")</li>
        <li>@Html.ActionLink("Конткты", "Contact", "Home")</li>
    </ul>
</aside>