@{
    ViewBag.Title = "Контакты";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Вопросы:</span>
        <span><a href="mailto:fokychuk47@ya.ru">fokychuk47@ya.ru</a></span>
    </p>
    <p>
        <span class="label">что-то еще:</span>
        <span><a href="mailto:someelse@lol.ru">someelse@lol.ru</a></span>
    </p>
</section>
