@{
    ViewBag.Title = "Главная страница";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
                Добро пожаловать на веб-составляющую Cvarc-Unity project
            </p>
        </div>
    </section>
}
<h3>Для того, чтоб приступить к работе, вам нужно выполнить несколько простых инструкций:</h3>
<ol class="round">
    <li class="one">
        <h5>Ознакомьтесь с правилами текущего мероприятия.</h5>
        Правила вы можете найти @Html.ActionLink("здесь", "Index", "Rules"), а ответы на часто задаваемые вопросы
        @Html.ActionLink("здесь.", "About")
    </li>

    <li class="two">
        <h5>Скачайте пример клиента</h5>
        Все необходимое для начала работы, а так же простые примеры, вы можете найти в нашем репозитории <a href="https://github.com/air-labs/ucvarc">здесь.</a>
    </li>

    <li class="three">
        <h5>Пишите код! :)</h5>
        Внесите какие-нибудь изменения в код клиента, а так же вставьте туда свой CvarcTag из личного кабинета.
        Вы можете следить за всеми прошедшими играми @Html.ActionLink("тут", "Results", "Rules"), или только за своими в личном кабинете.
    </li>
    <li class="four">
        <h5>Загрузите итоговое решение</h5>
        Когда сочтете нужным, загрузите все ваши исходники в личном кабинете.
    </li>
</ol>
