@{
    ViewBag.Title = "Удаление пользователя";
}

<p>Это действие доступно только для SuperAdmin</p>

@ViewBag.ResultMessage

<h2>Удалить пользователя</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        Имя пользователя
    </div>
    <p>
        @Html.TextBox("UserName")
    </p>
    <input type="submit" value="Удалить" />
}
