@{
    ViewBag.Title = "Удалить игры по фильтру";
}

<h2>Удаление результатов игр по фильтрам</h2>
<br/>
Вы можете указать либо только время, за сколько последних минут удалять все игры, либо tag и subtag (последнее не обязательно), либо и то, и другое.
@using (Html.BeginForm())
{
    <div>Удалить все игры за последние N минут</div>
    <div>@Html.TextBox("Time")</div>
    <div>Удалить все игры по указанному тэгу</div>
    <div>@Html.TextBox("Tag")</div>
    <div>И подтэгу</div>
    <div>@Html.TextBox("Subtag")</div>
    <input type="submit" value="Удалить" />
}
