@{
    ViewBag.Title = "Admin panel";
}

@ViewBag.ResultMessage
<h2>Super admin panel</h2>

<p>@Html.ActionLink("Delete user", "DeleteUser")</p>
<p>@Html.ActionLink("Grant admin access to user", "GrantAdminAccess")</p>
