@{
    ViewBag.Title = "Admin panel";
}

@ViewBag.ResultMessage
<h2>Панель администратора</h2>

<p>@Html.ActionLink("Создать пользователя", "RegisterUser")</p>
<p>@Html.ActionLink("Удалить пользователя", "DeleteUser")</p>
<p>@Html.ActionLink("Назначить пользователя администратором", "GrantAdminAccess")</p>
