@model dynamic

@{
    ViewBag.Title = "Множественная регистрация";
}

<h2>@ViewBag.Title</h2>

<div>@ViewBag.Message</div>
<br/>
Введите список пользователей по одному в каждой строчке. Допустимые форматы:
<h3><font color="gray">
    <font color="blue">UserName</font>;<font color="blue">Password</font>
    <br/>
    <font color="blue">UserName</font>;<font color="blue">Password</font>;<font color="blue">Email</font>
    <br/>
    <font color="blue">UserName</font>;<font color="blue">Password</font>;<font color="blue">Email</font>;<font color="blue">SocialNetLink</font>
</font></h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Список</legend>
        <ol>
            <li>
                @Html.TextArea("users", new { rows = 25})
            </li>
        </ol>
        <input type="submit" value="Отправить" />
    </fieldset>
}
