@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
                Welcome to Cvarc-Unity project
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Choose competition</h5>
        List of competitions <a href="#">here</a>
    </li>

    <li class="two">
        <h5>Clone from github example of client</h5>
        Repository with all example of clients <a href="#">here</a>
    </li>

    <li class="three">
        <h5>Write code!</h5>
        Make some changes in client project (if u use c#) and insert your cvarc-tag from account manage page.
        Well done! Now you ready to rush in the game.
        Good luck.
    </li>
</ol>
