@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка :(";
}

<hgroup class="title">
    <h1 class="error">Ошибка.</h1>
    <h2 class="error">К сожлению, что-то пошло не так.</h2>
    Если вы уверены, что все делаете правильно -- свяжитесь с администрацией.
    Но только не если вы попробовали загрузить файл в 10 гигабайт в форму для отправки решения :)
</hgroup>
